<div class="container-fluid">
  <div class="alert alert-primary" role="alert" *ngIf="!cityName">
    Please enter a city first.
  </div>
  <h4>{{cityName}}</h4>
  <div class="row forecastContainer" *ngIf="cityName">
    <div *ngFor="let day of cityForecast" class="forecastItem text-center">
      <h3>{{day.day | date:'MMM d'}}</h3>
      <p>{{day.weatherKind}}</p>
      <img src="../../assets/images/{{day.icon}}.png" alt="Weather Icon" class="weatherIcon">
      <h5>Max: {{day.tempMax | round}}&deg;F</h5>
      <h5>Min: {{day.tempMin | round}}&deg;F</h5>
    </div>
  </div>

</div>

