/*Variables*/
@blue-color: #004085;
@medium-grey: #ccc;

/**Mixin for flex vendor prefixes**/
.flex-mixin() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.container-fluid {
  font-family: 'Roboto', sans-serif;
  margin: 30px;
}

.pageTitle{
  font-weight: 300;
}

.forecastContainer{
  .flex-mixin;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  justify-content: space-around;
  margin: 20px 0;
}

.forecastItem{
  text-align: center;
  border: 1px solid @medium-grey;
  border-radius: 15px;
  padding: 10px;
  margin: 4px;
  width: 170px;
}

.weatherIcon{
  height: 100px;
  width: 100px;
}

.alert-primary {
    color: @blue-color;
    background-color: #cce5ff;
    border-color: #b8daff;
}

.alert {
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}
