<div class="container-fluid">
  <h3 class="pageTitle">5 day Forecast</h3>
  <hr>
  <h4>{{cityName}}</h4>
  <div class="row forecastContainer" *ngIf="cityName">
    <div *ngFor="let day of cityForecast" class="forecastItem text-center">
      <h3>{{day.dt_txt | date:'MMM d'}}</h3>
      <p>{{day.weather[0].description}}</p>
      <img src="../../assets/images/{{day.weather[0].icon}}.png" alt="Weather Icon" class="weatherIcon">
      <h5>Max: {{day.main.temp_max | round}}&deg;F</h5>
      <h5>Min: {{day.main.temp_min | round}}&deg;F</h5>
    </div>
  </div>

</div>

