<md-card class="weather-card text-center" *ngIf="weatherData">
  <md-card-content>
      <h3>{{weatherData.name}}</h3>
      <p>{{weatherData.weather[0].main}}</p>
    <img class="weatherIcon" src="../../assets/images/{{weatherData.weather[0].icon}}.png" alt="">
    <h2 class="current-temperature">{{weatherData.main.temp | round}}&deg;F</h2>
    <div class="row">
      <div class="col-xs-6 text-right">
        Description :
      </div>
      <div class="col-xs-6 text-left">
        {{weatherData.weather[0].description}}
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6 text-right">
         Max :
      </div>
      <div class="col-xs-6 text-left">
        {{weatherData.main.temp_max | round}}&deg;F
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6 text-right">
         Min :
      </div>
      <div class="col-xs-6 text-left">
        {{weatherData.main.temp_min | round}}&deg;F
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6 text-right">
         Humidity :
      </div>
      <div class="col-xs-6 text-left">
         {{weatherData.main.humidity}}%
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6 text-right">
          Wind :
      </div>
      <div class="col-xs-6 text-left">
         {{weatherData.wind.speed}} mph
      </div>
    </div>
  </md-card-content>
</md-card>