<md-toolbar color="primary">
  <md-icon>wb_sunny</md-icon>&nbsp;
  <span>ng4 weather</span>
</md-toolbar>
<div class="container-fluid">
  <wa-city-search class="text-center city-search" (sendWeatherData)="handleWeatherData($event)"></wa-city-search>
  <md-tab-group>
    <md-tab label="Now">
      <wa-weather-card [weatherData]="weatherData"></wa-weather-card>
    </md-tab>
    <md-tab label="Forecast">
      <wa-forecast *ngIf="weatherData" [weatherData]="weatherData"></wa-forecast>
    </md-tab>
  </md-tab-group>
</div>