/*Variables*/
$red: #e74c3c;
$medium-grey: #ccc;

.error-message {
  color: $red;
  font-weight: bold;
}

.icon {
  position: relative;
  top: 7px;
}

.regular-icon {
  color: $medium-grey;
}

.error-icon {
  color: $red;
}

md-input-container {
  font-size: 1.5em;
}

@media(max-width:767px) {
  md-input-container {
    font-size: 1em;
  }
}